header{
    background-color: #2e3a46;
    height: 8vh;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

header select{
    height: 2.5rem;
    background-color: #1e2d3b;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}

header button{
    height: 2.5rem;
    margin-left: 1rem;
    border: none;
    background-color: #1e2d3b;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

header img{
    height: 2rem;
    margin: 1rem;
}

header ul li a{
    color: white;
    text-decoration: none;
}

main{
    background-color: #1e2d3b;
    overflow: auto;
    height: 100vh;
    padding-top: 10vh;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.box-container .box{
    width: calc(100% / 5 - 1rem);
    display: flex;
    flex-wrap: wrap;
    background-color: #2e3a46;
    margin: .5rem;
    padding: 1rem;
}

.box-container .box h1{
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}

.box-container .box h4{
    color: #7b7971;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.box-container .box img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}